{% extends 'genres/layout.html.twig' %}

{% block title %}Genres{% endblock %}

{% block row_content %}
    <div class="row">
        {% for genre in genres %}
            <div class="col-sm-6 col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ genre.nom }}</h5>
                        <a href="{{ path('genres_show', {'id': loop.index}) }}" class="card-link">Lire la suite</a>
                     </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}